.desktop-card {
    position: fixed;
    z-index: 1000;
    top: 10px;
    left: 10px;
}

.mobile-card {
    padding: 0.2rem;
    width: 100vw;
    height: 52.063px !important;
    position: fixed;
    z-index: 1000;
}
