<!-- <mat-card *ngIf="screenSizeService.isMobile$ | async" class="mobile-card">
    <span style="display: flex; align-items: center">
        <app-search style="width: 100%"></app-search>
        <button
            style="margin-bottom: 1.34375em; height: 52.063px; margin-left: 0.4rem"
            (click)="gotoNode()"
            mat-button
            color="primary"
            [disabled]="!(selectFinalMatcheNodesFromSearch$ | async)"
        >
            Goto
        </button>
        <app-settings [inline]="true"></app-settings>
    </span>
</mat-card> -->

<!-- *ngIf="screenSizeService.isDesktop$ | async" -->
<div *ngIf="true" class="desktop-card">
    <span style="display: flex; align-items: center">
        <app-search></app-search>
        <button
            style="margin-bottom: 1.34375em; height: 52.063px; margin-left: 0.4rem"
            (click)="gotoNode()"
            mat-button
            color="primary"
            [disabled]="!(selectFinalMatcheNodesFromSearch$ | async)"
        >
            Goto
        </button>
    </span>
    <mat-divider></mat-divider>
    <div style="display: flex; flex-direction: column; padding-top: 10px; padding-bottom: 10px">
        <mat-slide-toggle
            [ngModel]="shouldRenderNodes$ | async"
            (change)="updateRenderNodes($event)"
            >Render Nodes</mat-slide-toggle
        >
        <mat-slide-toggle
            [ngModel]="shouldRenderEdges$ | async"
            (change)="updateRenderEdges($event)"
            >Render Channels</mat-slide-toggle
        >
        <!-- <mat-checkbox
            disabled
            [ngModel]="shouldFilterCapacity$ | async"
            (change)="updateFilterCapacityEnable($event)"
            >Filter Capacity</mat-checkbox
        >
        <span *ngIf="shouldFilterCapacity$ | async">
            <span style="margin-right: 0.4rem">Minimum Capacity</span>
            <mat-slider
                disabled
                [ngModel]="capacityFilterAmount$ | async"
                (change)="setCapacityFiliterAmount($event)"
                #slider
                min="0"
                max="1000000000"
                step="1"
                value="1"
            ></mat-slider>
            {{ slider.value }}
        </span> -->
        <!-- <span>
            Min  Edges
            <mat-slider (change)="filterConnections($event)" #slider min="0" max="1000" step="1" value="0"></mat-slider>
            {{slider.value}}
        </span> -->
        <!-- <mat-slide-toggle (change)="connectionSortChanged($event)" #connectionSort>{{connectionSort.checked ? 'Lower' : 'Higher' }} connections towards center</mat-slide-toggle> -->
    </div>
    <mat-divider></mat-divider>
</div>
