<div *ngIf="true" class="desktop-card">
    <app-search-and-go></app-search-and-go>
    <mat-divider style="margin-top: 1rem"></mat-divider>
    <div
        style="
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            padding-bottom: 10px;
            gap: 0.2rem;
        "
    >
        <mat-slide-toggle
            [ngModel]="shouldRenderNodes$ | async"
            (change)="updateRenderNodes($event)"
            >Renderer Nodes</mat-slide-toggle
        >
        <mat-slide-toggle
            [ngModel]="shouldRenderEdges$ | async"
            (change)="updateRenderEdges($event)"
            >Renderer Channels</mat-slide-toggle
        >
    </div>
    <mat-divider></mat-divider>
</div>
