<div
    style="height: 300px"
    *ngIf="(selectInvoice$ | async) === undefined && (isLoading$ | async) === false"
>
    <div style="display: flex; justify-content: center">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Amount (SATS)</mat-label>
            <input
                [(ngModel)]="amount"
                #input
                type="number"
                pattern="\d*"
                min="0"
                placeholder="Pick one"
                aria-label="Public Key or Alias"
                matInput
            />
        </mat-form-field>
        <button
            style="margin-bottom: 1.34375em; height: 52.063px; margin-left: 0.4rem"
            mat-button
            color="primary"
            (click)="getData()"
        >
            Pay
        </button>
    </div>
    <p>
        Hopefully this software has provided some value to you. Please consider donating some sats
        to help with future development.
    </p>
    <p>
        If you do not want to donate, you can hide this donation menu here ( or in the settings menu
        ):
    </p>
    <app-show-donate-link-checkbox></app-show-donate-link-checkbox>
</div>
