<mat-toolbar color="primary">
    <mat-icon>settings</mat-icon>
    <span style="margin-left: 0.4rem; flex-grow: 1">Settings</span>
    <button (click)="dialogRef.close()" mat-icon-button aria-label="Close Dialog">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<div class="modal-content">
    <app-node-settings></app-node-settings>
    <mat-divider></mat-divider>
    <app-channel-settings></app-channel-settings>
    <mat-divider></mat-divider>
    <app-camera-settings></app-camera-settings>
    <!-- <h2>Label Settings (Expiremental)</h2>
  <mat-checkbox [ngModel]="shouldRenderLabels$ | async" (change)="setShouldRenderLabels($event)"
      >Render Labels</mat-checkbox
  > -->
    <mat-divider></mat-divider>
    <app-misc-settings></app-misc-settings>
</div>
