<mat-toolbar color="primary">
    <mat-icon>settings</mat-icon>
    <span style="margin-left: .4rem; flex-grow: 1;">Settings</span>
    <button mat-icon-button aria-label="Close Dialog">
        <mat-icon (click)="dialogRef.close()">close</mat-icon>
    </button>
</mat-toolbar>
<section>
    <h2>Node Settings</h2>
    <mat-checkbox [ngModel]="shouldRenderNodes$ | async" (change)="setShouldRenderNodes($event)">Render Nodes</mat-checkbox>
    <span>
        <span style="margin-right: .4rem;">Node Size</span>
        <mat-slider [ngModel]="selectNodeSize$ | async" (change)="setNodeSize($event)" #slider min="1" max="20" step="0.1" value="1"></mat-slider>
        {{slider.value}}
    </span>
    <mat-checkbox [ngModel]="selectPointAttenuation$ | async" (change)="setPointAttenuation($event)">Point Attenuation</mat-checkbox>
    <mat-checkbox [ngModel]="selectPointUseIcon$ | async" (change)="setPointUseIcon($event)">Render Lightning Icon</mat-checkbox>
    <mat-divider></mat-divider>
    <h2>Channel Settings</h2>
    <mat-checkbox [ngModel]="shouldRenderEdges$ | async" (change)="setShouldRenderEdges($event)">Render Channels</mat-checkbox>
    <mat-checkbox [ngModel]="selectEdgeDepthTest$ | async" (change)="setDepthTest($event)">Depth Test</mat-checkbox>
    <mat-checkbox [ngModel]="selectEdgeDottedLine$ | async" (change)="setDottedLines($event)">Dashed Lines</mat-checkbox>
    <mat-divider></mat-divider>
    <h2>Camera Settings</h2>
    <span>
        <span style="margin-right: .4rem;">Fov</span>
        <mat-slider [ngModel]="selectCameraFov$ | async" (change)="setCameraFov($event)" #fovSlider min="20" max="160" step="1" value="60"></mat-slider>
        {{fovSlider.value}}
    </span>
    <mat-divider></mat-divider>
    <h2>Label Settings (Expiremental)</h2>
    <mat-checkbox [ngModel]="shouldRenderLabels$ | async" (change)="setShouldRenderLabels($event)">Render Labels</mat-checkbox>
    <mat-divider></mat-divider>
    <h2>Miscellaneous Settings</h2>
    <button (click)="resetSettingsToDefault()" mat-raised-button color="primary">Reset Settings to Default</button>
</section>