section {
  display: flex;
  flex-direction: column;
  margin: 2rem;

  > * {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }

  > mat-divider {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
}
