section {

    display: flex;
    flex-direction: column;
    margin: 2rem;

    > * {
        margin-top: .4rem;
        margin-bottom: .4rem;
    }

    > mat-divider{
        margin-top: .8rem;
        margin-bottom: .8rem;
    }
}