<div style="display: flex">
    <p style="margin-top: 10px; margin-bottom: 0px; text-transform: capitalize; width: 120px">
        {{ label }}
    </p>
    <p
        style="
            margin-top: 10px;
            margin-bottom: 0px;
            font-size: 12px;
            display: flex;
            gap: 0.3rem;
            align-items: center;
            margin-left: auto;
            text-align: end;
        "
    >
        <ng-container *ngIf="isPilotFlagEnabled$ | async">
            <app-mini-input
                [value]="finalConverterWrapper.forwardConvert$ | async"
                (valueChanged$)="finalConverterWrapper.setUnit($event)"
            ></app-mini-input>
            -
            <app-mini-input
                [value]="finalConverterWrapper.backwardsConvert$ | async"
                (valueChanged$)="finalConverterWrapper.setUnit($event)"
            ></app-mini-input>
        </ng-container>
        {{ logValue[0] | logToLinear }}-{{ logValue[1] | logToLinear }}
    </p>
</div>
<div style="display: flex; align-items: center; gap: 0.2rem">
    <mat-slide-toggle
        [(ngModel)]="isEnabled"
        [ngModel]="isEnabled$ | async"
        (change)="onEnableChange()"
    ></mat-slide-toggle>

    <mtx-slider
        [min]="this.minLog"
        [max]="this.maxLog"
        [step]="logStep"
        style="width: 100%"
        [(ngModel)]="logValue"
        (ngModelChange)="finalConverterWrapper.setUnit($event)"
        (ngModelChange)="updateScript()"
        [disabled]="(isEnabled$ | async) === false"
    ></mtx-slider>
</div>
<mat-divider></mat-divider>
