<h2>Channel Settings</h2>
<section class="settings-section">
    <mat-checkbox [ngModel]="shouldRenderEdges$ | async" (change)="setShouldRenderEdges($event)"
        >Render Channels</mat-checkbox
    >
    <mat-checkbox [ngModel]="selectEdgeDepthTest$ | async" (change)="setDepthTest($event)"
        >Depth Test</mat-checkbox
    >
    <mat-checkbox [ngModel]="selectEdgeDottedLine$ | async" (change)="setDottedLines($event)"
        >Dashed Lines</mat-checkbox
    >
    <app-channel-color-dropdown></app-channel-color-dropdown>
    <app-channel-color-map-dropdown></app-channel-color-map-dropdown>
    <mat-checkbox [ngModel]="selectUseLogColorScale$ | async" (change)="setUseLogColorScale($event)"
        >Use Log Color Scale</mat-checkbox
    >
</section>
