<h2>Channel Settings</h2>
<section class="settings-section">
    <mat-checkbox [ngModel]="shouldRenderEdges$ | async" (change)="setShouldRenderEdges($event)"
        >Render Channels</mat-checkbox
    >
    <mat-checkbox [ngModel]="selectEdgeDepthTest$ | async" (change)="setDepthTest($event)"
        >Depth Test</mat-checkbox
    >
    <!-- <mat-checkbox [ngModel]="selectEdgeDottedLine$ | async" (change)="setDottedLines($event)"
        >Dashed Lines</mat-checkbox
    > -->
    <app-enable-channel-fog></app-enable-channel-fog>
    <app-fog-distance *ngIf="selectEnabledFog$ | async"></app-fog-distance>
    <app-channel-color-dropdown></app-channel-color-dropdown>
    <app-channel-color-map-dropdown></app-channel-color-map-dropdown>
    <mat-checkbox [ngModel]="selectUseLogColorScale$ | async" (change)="setUseLogColorScale($event)"
        >Use Log Scale</mat-checkbox
    >
    <ng-container *ngIf="thickLinesEnabled$ | async">
        <app-line-backed-dropdown></app-line-backed-dropdown>
        <ng-container *ngIf="(selectLineBackend$ | async) === 'line-mesh'">
            <app-channel-attenuation></app-channel-attenuation>
            <app-channel-width-property></app-channel-width-property>
            <app-channel-width></app-channel-width>
        </ng-container>
    </ng-container>
    <app-color-range-min-max-selector
        *ngIf="colorRangeMinMaxEnabled$ | async"
    ></app-color-range-min-max-selector>
</section>
