<mat-toolbar style="height: 3rem; position: absolute">
    <span style="margin-left: 0.4rem; flex-grow: 1">Statistics</span>
</mat-toolbar>

<div style="color: #fbc02d; margin-top: 3rem">Global Statistics</div>
<pre><ng-container *ngFor="let label of statLabels$ | async">{{label}}</ng-container>{{averageCapacity$ | async}} average capacity
{{ nodeCount$ | async }} nodes 
{{ channelCount$ | async }} channels
</pre>

<div style="color: #fbc02d">Filtered Statistics</div>
<pre><ng-container *ngFor="let label of filteredStatLabels$ | async">{{label}}</ng-container></pre>
