<div style="display: flex">
    <p style="margin-top: 10px; margin-bottom: 0px; text-transform: capitalize; flex-grow: 1">
        {{ label }}
    </p>
    <p
        style="
            margin-top: 10px;
            margin-bottom: 0px;
            font-size: 12px;
            display: flex;
            gap: 0.3rem;
            align-items: center;
        "
    >
        <app-mini-input [value]="logValue[0] | logToLinear"></app-mini-input>
        -
        <app-mini-input [value]="logValue[1] | logToLinear"></app-mini-input>
        <!--     
        {{ logValue[0] | logToLinear | unit }}-{{ logValue[1] | logToLinear | unit }} -->
    </p>
</div>
<div style="display: flex; align-items: center; gap: 0.2rem">
    <mat-slide-toggle
        [(ngModel)]="isEnabled"
        [ngModel]="isEnabled$ | async"
        (change)="onEnableChange()"
    ></mat-slide-toggle>

    <mtx-slider
        [min]="this.minLog"
        [max]="this.maxLog"
        [step]="logStep"
        style="width: 100%"
        [(ngModel)]="logValue"
        (ngModelChange)="updateScript()"
        [disabled]="(isEnabled$ | async) === false"
    ></mtx-slider>
</div>
<mat-divider></mat-divider>
