<atft-orbit-controls [rotateSpeed]="1" [zoomSpeed]="1.2">
    <atft-renderer-canvas
        #mainRenderer
        lnd-raycaster-scene
        [style]="
            (screenSizeService.isMobilePortrait$ | async)
                ? 'height: calc(100vh - 52.063px);'
                : 'height: 100vh'
        "
    >
        <atft-perspective-camera
            [fov]="(selectCameraFov$ | async) || 60"
            [near]="0.1"
            [far]="11000"
            [positionX]="20"
            [positionY]="50"
            [positionZ]="650"
            lnd-raycaster-enable
            lnd-raycaster-camera
        >
        </atft-perspective-camera>
        <atft-scene [background]="'#111111'">
            <atft-grid-helper
                *ngIf="showGrid$ | async"
                [translateY]="0"
                [size]="2000"
                [divisions]="100"
            ></atft-grid-helper>
            <atft-axes-helper *ngIf="showAxis$ | async" [size]="200"></atft-axes-helper>
            <app-nodes-object></app-nodes-object>
            <app-channel-thick-object
                *ngIf="thickLinesEnabled$ | async; else regularLines"
            ></app-channel-thick-object>
            <ng-template #regularLines>
                <app-channel-object></app-channel-object>
            </ng-template>
            <!-- <app-raycaster-ray></app-raycaster-ray> -->
        </atft-scene>
    </atft-renderer-canvas>
</atft-orbit-controls>
