<mat-toolbar color="primary">
    <mat-icon>search</mat-icon>
    <span style="margin-left: 0.4rem; flex-grow: 1">Search</span>
    <button (click)="dialogRef.close()" mat-icon-button aria-label="Close Dialog">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<mat-tab-group>
    <mat-tab label="Nodes">
        <app-table-view
            [displayedColumns]="nodeColumns"
            [dataRegistry]="filteredNodeRegistry"
        ></app-table-view>
    </mat-tab>
    <mat-tab label="Channels">
        <app-table-view
            [displayedColumns]="channelColumns"
            [dataRegistry]="filteredChannelRegistry"
        ></app-table-view>
    </mat-tab>
</mat-tab-group>
