:host ::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-flex {
        padding-top: unset;
    }
    .mat-form-field-infix {
        width: 2rem;
        border-top: 0.24375em solid transparent;
    }
    .mat-form-field-wrapper {
        padding-bottom: unset;
    }
    .mat-form-field-underline {
        position: unset;
    }
}
