.desktop-card {
    // position: absolute;
    // z-index: 1000;
    // top: 10px;
    // left: 10px;
}

.mobile-card {
    padding: 0.2rem;
    width: 100vw;
    height: 46.063px !important;
    position: absolute;
    z-index: 1000;
}
