<p style="margin-top: 10px; margin-bottom: 0px">Capacity</p>
<div style="display: flex; align-items: center; gap: 0.2rem">
    <mat-slide-toggle
        [(ngModel)]="isEnabled"
        [ngModel]="isEnabled$ | async"
        (change)="enableCapacityChange()"
    ></mat-slide-toggle>
    <mat-slider
        style="width: 100%"
        min="0"
        [max]="maxLog"
        [step]="step"
        [value]="value"
        [(ngModel)]="capacityAmount"
        (change)="updateQuickCapacityFiliterScript($event)"
        [disabled]="(isEnabled$ | async) === false"
    ></mat-slider>
</div>
<mat-divider></mat-divider>
