<h2>Renderer Settings</h2>
<section class="settings-section">
    <mat-checkbox [ngModel]="showGrid$ | async" (change)="setShowGrid($event)"
        >Show Grid</mat-checkbox
    >
    <mat-checkbox [ngModel]="showAxis$ | async" (change)="setShowAxis($event)"
        >Show Axis</mat-checkbox
    >
    <mat-checkbox
        #nodeMotion
        [ngModel]="showGraphAnimation$ | async"
        (change)="setShowGraphAnimation($event)"
        >Enable Node Motion</mat-checkbox
    >
    <span *ngIf="nodeMotion.checked">
        <span style="margin-right: 0.4rem">Motion Intensity (Be careful)</span>
        <mat-slider
            [ngModel]="nodeMotionIntensity$ | async"
            (change)="setNodeMotionIntensity($event)"
            #maxNodeSize
            min="0"
            max="1"
            step="0.0001"
            value="1"
        ></mat-slider>
        {{ maxNodeSize.value }}
    </span>
</section>
