<h2>Node Settings</h2>
<section class="settings-section">
    <mat-checkbox [ngModel]="shouldRenderNodes$ | async" (change)="setShouldRenderNodes($event)"
        >Render Nodes</mat-checkbox
    >
    <span>
        <span style="margin-right: 0.4rem">Node Size</span>
        <mat-slider
            [ngModel]="selectNodeSize$ | async"
            (change)="setNodeSize($event)"
            #slider
            min="1"
            max="100"
            step="0.1"
            value="1"
        ></mat-slider>
        {{ slider.value }}
    </span>
    <mat-checkbox [ngModel]="selectPointAttenuation$ | async" (change)="setPointAttenuation($event)"
        >Point Attenuation</mat-checkbox
    >
    <mat-checkbox [ngModel]="selectPointUseIcon$ | async" (change)="setPointUseIcon($event)"
        >Render Lightning Icon</mat-checkbox
    >
</section>
