<h3 *ngIf="error">{{ error }}</h3>
<mat-form-field>
    <mat-label>Script Language</mat-label>
    <mat-select [(ngModel)]="scriptLanguage">
        <mat-option [value]="'lnscript'">LnScript</mat-option>
        <mat-option [value]="'javascript'">Javascript</mat-option>
    </mat-select>
</mat-form-field>
<div style="display: flex">
    <ngx-codemirror
        style="width: 750px; height: 40px; overflow-y: hidden"
        [(ngModel)]="expression"
        (ngModelChange)="expressionEval($event)"
        [options]="{
            lineNumbers: false,
            theme: 'material',
            mode: 'javascript'
        }"
    ></ngx-codemirror>
    <button
        class="not-inline"
        (click)="createExpression()"
        style="transform: scale(0.6)"
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
    >
        <mat-icon>add</mat-icon>
    </button>
</div>
