mat-card {
    height: 45vh;
    width: 0.4rem !important;
    padding: 0;
}

.axis-label {
    margin-bottom: 0.6rem;
}

.numberScale {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4px;
}
