<mat-drawer-container>
    <mat-drawer
        #drawer
        [mode]="(screenSizeService.isDesktop$ | async) ? 'side' : 'over'"
        [opened]="shouldShowQuickControls$ | async"
    >
        <app-quick-controls-view></app-quick-controls-view>
    </mat-drawer>
    <!-- <mat-drawer
        #drawer2
        [mode]="(screenSizeService.isDesktop$ | async) ? 'side' : 'over'"
        [opened]="true"
        [position]="'end'"
    >
        <app-graph-view></app-graph-view>
    </mat-drawer> -->

    <app-graph-view></app-graph-view>
</mat-drawer-container>
