<mat-form-field appearance="fill">
    <mat-label>Channel Color Meaning</mat-label>
    <mat-select [value]="chanelColorDropDown$ | async" (valueChange)="valueChanged($event)">
        <mat-option value="channel-capacity">Channel Capacity</mat-option>
        <mat-option value="channel-fees">Feerate</mat-option>
        <mat-option value="base_fee_mtokens">Base Fee</mat-option>
        <mat-option value="cltv_delta">CLTV Delta</mat-option>
        <mat-option value="max_htlc_mtokens">Max HTLC</mat-option>
        <mat-option value="min_htlc_mtokens">Min HTLC</mat-option>
        <mat-option value="interpolate-node-color">Interpolate Node Color</mat-option>
        <mat-option disabled value="interpolate-node-average-capacity"
            >Interpolate Node Average Capacity</mat-option
        >
        <mat-option disabled value="interpolate-node-total-capacity"
            >Interpolate Node Total Capacity</mat-option
        >
    </mat-select>
</mat-form-field>
