<app-window-manager></app-window-manager>
<!-- <mat-drawer-container class="app-container">
    <mat-drawer
        #drawer
        [mode]="(screenSizeService.isDesktop$ | async) ? 'side' : 'over'"
        [opened]="true"
        (openedChange)="recomputeCanvasSize()"
    >
        <mat-toolbar style="height: 3rem">
            <mat-icon>offline_bolt</mat-icon>
            <span style="margin-left: 0.4rem; flex-grow: 1">LnVisualizer</span>
            <button (click)="drawer.close()" mat-icon-button aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
        <div class="app-sidenav">
            <app-quick-controls></app-quick-controls>
            <app-quick-capacity></app-quick-capacity>
        </div>
    </mat-drawer>
    <mat-drawer
        #drawer2
        [mode]="(screenSizeService.isDesktop$ | async) ? 'side' : 'over'"
        [opened]="true"
        (openedChange)="recomputeCanvasSize()"
        [position]="'end'"
    >
        <app-filter-modal></app-filter-modal>
    </mat-drawer>

    <div class="app-sidenav-content">
        <app-sidenav-open-button
            *ngIf="!drawer.opened"
            [matDrawer]="drawer"
        ></app-sidenav-open-button>
        <app-graph-stats></app-graph-stats>
        <app-floating-buttons></app-floating-buttons>
        <app-graph-scene></app-graph-scene>
        <app-loading-bar></app-loading-bar>
        <app-tooltip></app-tooltip>
        <app-channel-color-scale></app-channel-color-scale>
    </div>
</mat-drawer-container> -->
