<mat-drawer-container class="app-container">
    <mat-drawer
        #drawer
        class="app-sidenav"
        [mode]="(screenSizeService.isDesktop$ | async) ? 'side' : 'over'"
        [opened]="true"
        (openedChange)="recomputeCanvasSize()"
    >
        <app-quick-controls></app-quick-controls>
        <app-quick-capacity></app-quick-capacity>
    </mat-drawer>

    <div class="app-sidenav-content">
        <app-sidenav-open-button [matDrawer]="drawer"></app-sidenav-open-button>
        <app-graph-stats></app-graph-stats>
        <app-floating-buttons></app-floating-buttons>
        <app-graph-scene></app-graph-scene>
        <app-loading-bar></app-loading-bar>
        <app-tooltip></app-tooltip>
        <app-channel-color-scale></app-channel-color-scale>
    </div>
</mat-drawer-container>
