<mat-drawer-container class="app-container" autosize>
    <mat-drawer #drawer class="app-sidenav" mode="side" [opened]="true">
        <h3>Quick Controls</h3>
        <mat-divider></mat-divider>
        <label>Control</label>
        <div style="display: flex; align-items: center; gap: 0.2rem">
            <mat-slide-toggle></mat-slide-toggle>
            <mat-slider>Test</mat-slider>
        </div>
        <mat-divider></mat-divider>
        <mat-slider>Test</mat-slider>
        <mat-divider></mat-divider>
        <mat-slider>Test</mat-slider>
    </mat-drawer>

    <div class="app-sidenav-content">
        <!-- <button type="button" mat-button (click)="drawer.toggle()">Toggle sidenav</button> -->
        <app-quick-controls></app-quick-controls>
        <app-graph-stats></app-graph-stats>
        <app-settings *ngIf="screenSizeService.isDesktop$ | async"></app-settings>
        <app-filter-button></app-filter-button>
        <app-graph-scene></app-graph-scene>
        <app-loading-bar></app-loading-bar>
        <app-tooltip></app-tooltip>
        <app-channel-color-scale></app-channel-color-scale>
    </div>
</mat-drawer-container>
