<div>
    <p>
        If you value my work and wish to help future development then feel free to enter an amount
        and submit a payment. This screen is currently a WIP. Will not let you know when the payment
        is complete.
    </p>
    <div
        style="display: flex; justify-content: center; height: 300px"
        *ngIf="(selectInvoice$ | async) === undefined && (isLoading$ | async) === false"
    >
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Amount (SATS)</mat-label>
            <input
                [(ngModel)]="amount"
                #input
                type="text"
                placeholder="Pick one"
                aria-label="Public Key or Alias"
                matInput
            />
        </mat-form-field>
        <button
            style="margin-bottom: 1.34375em; height: 52.063px; margin-left: 0.4rem"
            mat-button
            color="primary"
            (click)="getData()"
        >
            Pay
        </button>
    </div>
    <div
        *ngIf="isLoading$ | async"
        style="
            display: flex;
            justify-content: center;
            width: 100%;
            height: 300px;
            align-items: center;
        "
    >
        <mat-spinner> </mat-spinner>
    </div>
    <ng-container *ngIf="(isLoading$ | async) === false && selectInvoice$ | async">
        <div style="display: flex; width: 100%">
            <mat-form-field appearance="fill" style="width: 190px">
                <mat-label>Payment Method</mat-label>
                <mat-select
                    [value]="selectedPaymentMethodName$ | async"
                    [ngModel]="selectedPaymentMethodName$ | async"
                    (selectionChange)="updateSelectedPayment($event)"
                >
                    <mat-option *ngFor="let paymentMethod of paymentMethods$ | async">
                        <mat-option [value]="paymentMethod.paymentMethod">{{
                            paymentMethod.paymentMethod
                        }}</mat-option>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button
                style="margin-bottom: 1.34375em; height: 52.063px; margin-left: 0.4rem"
                mat-button
                color="primary"
                (click)="cancelInvoice()"
            >
                Cancel
            </button>
        </div>
        <div *ngIf="selectedPaymentMethod$ | async as paymentMethod">
            <div>Amount: {{ paymentMethod.amount }}</div>
            <!-- <div>Due: {{ paymentMethod.due }}</div>
            <div>TotalPaid: {{ paymentMethod.totalPaid }}</div> -->
            <a *ngIf="paymentMethod.destination" [href]="paymentMethod.paymentLink | safeUrl">
                <qrcode
                    [qrdata]="paymentMethod.destination"
                    [width]="256"
                    [errorCorrectionLevel]="'M'"
                ></qrcode>
            </a>
            <button
                style="width: 100%"
                (click)="clickToCopy(paymentMethod.destination)"
                mat-raised-button
                color="primary"
            >
                Copy {{ paymentMethod.paymentMethod === 'BTC' ? 'Address' : 'Invoice' }}
            </button>
        </div>
    </ng-container>
</div>
