<div>
    <p>
        Hopefully this software has provided some value to you. Please consider donating some sats
        to help with future development.
    </p>
    <p>
        If you do not want to donate, you can hide this donation menu here ( or in the settings menu
        ):
    </p>
    <app-show-donate-link-checkbox
        style="margin-top: 20px; margin-bottom: 20px"
    ></app-show-donate-link-checkbox>
    <mat-divider></mat-divider>
    <p style="margin-top: 20px">⚡: donate@donate.lnvisualizer.com</p>
    <app-donate-btcpay></app-donate-btcpay>
</div>
