<div>
    <!-- <p>
        Hopefully this software has provided some value to you. Please consider donating some sats
        to help with future development.
    </p>
    <p>
        If you do not want to donate, you can hide this donation menu here ( or in the settings menu
        ):
    </p>
    <app-show-donate-link-checkbox
        style="margin-top: 20px; margin-bottom: 20px"
    ></app-show-donate-link-checkbox> -->
    <h2>Contribute Code</h2>
    <p>
        <a href="https://github.com/maxkotlan/ln-visualizer"
            >https://github.com/maxkotlan/ln-visualizer</a
        >
    </p>
    <mat-divider style="margin-top: 5px; margin-bottom: 5px"></mat-divider>
    <h2>Send Sats</h2>
    <p>⚡: pay@btcpay.lnvisualizer.com</p>
    <app-donate-btcpay></app-donate-btcpay>
</div>
