<mat-toolbar color="primary">
    <mat-icon>filter_list</mat-icon>
    <span style="margin-left: 0.4rem; flex-grow: 1">Graph Filters</span>
    <button (click)="dialogRef.close()" mat-icon-button aria-label="Close Dialog">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<div class="modal-content">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>RPN Expression</mat-label>
        <textarea
            matInput
            placeholder="capacity 2 * 1000 "
            [(ngModel)]="expression"
            (ngModelChange)="expressionEval($event)"
        ></textarea>
    </mat-form-field>
    <ngx-codemirror
        [(ngModel)]="expression"
        (ngModelChange)="expressionEval($event)"
        [options]="{
            lineNumbers: false,
            theme: 'material',
            mode: 'javascript'
        }"
    ></ngx-codemirror>
    <app-select-filter-key></app-select-filter-key>
    <app-filter-list></app-filter-list>
</div>
