<div [style.width]="!dialogRef ? '30vw' : undefined">
    <mat-toolbar color="primary">
        <mat-icon>filter_list</mat-icon>
        <span style="margin-left: 0.4rem; flex-grow: 1">Filter Scripts</span>
        <!-- <button (click)="togglePreference()" mat-icon-button aria-label="Close Dialog">
            <mat-icon>
                {{ (windowPosition$ | async) === 'sidebar' ? 'pin_end' : 'push_pin' }}
            </mat-icon>
        </button> -->
        <button (click)="closeModal()" mat-icon-button aria-label="Close Dialog">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
    <div class="modal-content" cdkScrollable>
        <h3 style="margin-top: 10px">Add Filter</h3>
        <mat-divider style="margin-bottom: 5px"></mat-divider>
        <p>
            Filter scripts are small scripts used to determine which nodes or channels should be
            rendered. A node or channel will only be rendered if all scripts evaluates to true.
            Currently, you can only manually add channel scripts.
        </p>
        <app-add-expression></app-add-expression>
        <h3 style="margin-top: 10px">Active Filters</h3>
        <mat-divider style="margin-bottom: 5px"></mat-divider>
        <app-filter-list [filterList]="activeNodeFilters$ | async"></app-filter-list>
        <app-filter-list [filterList]="activeChannelFilters$ | async"></app-filter-list>
    </div>
</div>
