<mat-form-field class="example-full-width" style="height: 52.063px" appearance="fill">
    <mat-label>Public Key or Alias</mat-label>
    <input
        style="width: calc(100% - 35px)"
        #input
        type="text"
        placeholder="Pick one"
        aria-label="Public Key or Alias"
        matInput
        [ngModel]="selectSearchString$ | async"
        (input)="onTextChange($event)"
        [matAutocomplete]="auto"
    />
    <button
        *ngIf="input.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clear(); input.value = ''"
        style="position: absolute; right: -5px; bottom: -5px"
    >
        <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="onOptionSelected($event)"
    >
        <mat-option *ngFor="let option of nodeSearchResults$ | async" [value]="option.alias">
            <div style="flex-direction: column; display: flex">
                <div style="height: 10px">
                    {{ option.alias }}
                </div>
                <div
                    style="
                        margin-top: 6px;
                        font-size: smaller;
                        font-weight: 300;
                        color: #fbc02d;
                        width: 8.75rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    "
                >
                    {{ option.publicKey }}
                </div>
            </div>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
