<mat-card>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Public Key</mat-label>
        <input type="text"
                placeholder="Pick one"
                aria-label="Public Key"
                matInput
                (input)="onTextChange($event)"
                [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of nodeSearchResults$ | async" [value]="option">
            {{option}}
            </mat-option>
        </mat-autocomplete>
        </mat-form-field>
    </form>
    <mat-checkbox (change)="checkboxFix($event)">Render Edges</mat-checkbox>
</mat-card>