<mat-toolbar class="lnvisualizer-pannel-header">
    <span>Global Statistics</span>
</mat-toolbar>
<div style="margin-top: 3rem"></div>
<!-- <pre><ng-container *ngFor="let label of statLabels$ | async">{{label}}</ng-container>
</pre> -->
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <app-app-key-value-stats style="margin-left: 20px" [node]="node"></app-app-key-value-stats>
        <!-- <div style="display: flex; margin-left: 20px">
            <div style="color: #fbc02d; margin-right: 0.2rem">{{ node.key }}:</div>
            <div style="word-break: break-all">{{ node.value }}</div>
        </div> -->
    </mat-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.key">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                </mat-icon>
            </button>
            <app-app-key-value-stats [color]="'secondary'" [node]="node"></app-app-key-value-stats>
            <!-- <div style="display: flex">
                <div style="margin-left: 0.4rem" *ngIf="node.value"></div>
                <div style="color: #ff9800; margin-right: 0.2rem">{{ node.key }}:</div>
                <div style="word-break: break-all">{{ node.value }}</div>
            </div> -->
        </div>

        <div
            *ngIf="treeControl.isExpanded(node) || true"
            [class.example-tree-invisible]="!(treeControl.isExpanded(node) || true)"
            role="group"
        >
            <ng-container matTreeNodeOutlet></ng-container>
        </div>
    </mat-nested-tree-node>
</mat-tree>
