<mat-toolbar style="height: 3rem">
    <mat-icon style="font-size: 14px" svgIcon="lnvisualizer"></mat-icon>
    <span style="margin-left: 0.4rem; flex-grow: 1; font-size: 14px">LnVisualizer</span>
    <button (click)="closeModal()" mat-icon-button aria-label="Close Dialog">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<div class="app-sidenav">
    <app-quick-controls></app-quick-controls>
    <app-clearnet-onion-toggle></app-clearnet-onion-toggle>
    <app-quick-slider
        [isNodeScript]="true"
        [isPolicyScript]="false"
        [key]="'node_capacity'"
        [minMax]="statsState['node_capacity']"
        baseUnit="sat"
    >
    </app-quick-slider>
    <app-quick-slider
        [isNodeScript]="true"
        [isPolicyScript]="false"
        [key]="'channel_count'"
        [minMax]="statsState['channel_count']"
        baseUnit="number"
    >
    </app-quick-slider>
    <app-quick-slider [isPolicyScript]="false" [key]="'capacity'" [minMax]="statsState['capacity']">
    </app-quick-slider>
    <app-quick-slider
        *ngFor="let key of statsKeys"
        [key]="key"
        [minMax]="statsState[key]"
        [baseUnit]="backendUnitFormat[key]"
    ></app-quick-slider>
</div>
