<mat-toolbar style="height: 3rem">
    <mat-icon>offline_bolt</mat-icon>
    <span style="margin-left: 0.4rem; flex-grow: 1">LnVisualizer</span>
    <button (click)="closeModal()" mat-icon-button aria-label="Close Dialog">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<div class="app-sidenav">
    <app-quick-controls></app-quick-controls>
    <!-- <app-quick-capacity></app-quick-capacity> -->
    <app-quick-slider
        [isNodeScript]="true"
        [isPolicyScript]="false"
        [key]="'node_capacity'"
        [minMax]="statsState['node_capacity']"
    >
    </app-quick-slider>
    <app-quick-slider [isPolicyScript]="false" [key]="'capacity'" [minMax]="statsState['capacity']">
    </app-quick-slider>
    <app-quick-slider
        *ngFor="let key of statsKeys"
        [key]="key"
        [minMax]="statsState[key]"
    ></app-quick-slider>
</div>
